/*
* @Author: Administrator
* @Date:   2018-11-07 11:21:58
* @Last Modified by:   Administrator
* @Last Modified time: 2018-11-09 10:51:08
*/
*{
	padding: 0;
	margin: 0;
	list-style: none;
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: #333;
}
i{
	font-style:normal;
}












