/*
* @Author: Administrator
* @Date:   2018-11-10 14:12:19
* @Last Modified by:   Administrator
* @Last Modified time: 2018-11-12 13:49:59
*/
header{
	width: 100%;
	height: 1rem;
	background: #f31a68;
    /* position: relative; */
    display: flex; 
    flex-direction: row; 
}
header .left a{
	color: #fff;
	font-size: 0.6rem;
	display: block;
	margin-top: 0.1rem;
	padding-left: 0.46rem;
	/* position: absolute; */
}
header .right{
	width: 100%;
	height: 0.8rem;
	display: flex;
	flex-direction: column;
	align-items:center;
	margin-top: 0.1rem
}
header .right .shang{
	font-size: 0.3rem;
	color: #fff;
}
header .right .xia{
	font-size: 0.32rem;
	color: #fff;
}
/*<!--第一开始-->*/
.big{
	width: 100%;
	height: 0.5rem;
	float: left;
	margin-top: 0.3rem;
}
.big li:nth-child(1){
	font-size: 0.3rem;
	color: #a8a8a8;
	float: left;
	margin-left: 0.6rem;
}
.big li:nth-child(2){
	font-size: 0.24rem;
	color: #fa8787;
	float: left;
	margin-left: 3.8rem;
	margin-top: 0.1rem;
}
.big li:nth-child(3){
	font-size: 0.35rem;
	color: #ff0000;
	float: left;
	margin-left: 5.7rem;
	margin-top: -0.40rem;
}
/*<!--第一结束-->*/
/*<!--第二开始-->*/
.box:{
	width: 100%;
	height: 0.28rem;
	background: #f31a68;
	
}
.box1{
	width: 2rem;
	height: 0.28rem;
	margin-left: 1rem;
	margin-top: 0.1rem;
	float: left;
}
.box1-1{
	width: 0.57rem;
	height: 0.28rem;
	border-radius: 0.1rem;
	background: #f31a68;
	text-align: center;
	line-height: 0.28rem;
	color: #fff;
	font-size: 0.24rem;
	float: left;
}
.box1 span{
	font-size: 0.24rem;
	float: left;
	margin-left: 0.1rem;
	color:  #f31a68;
}
/*<!--第二结束-->*/
/*银行卡开始*/
.bank{
	width: 5.81rem;
	height: 2.58rem;
	padding: 0.5rem;
	box-sizing: border-box;
	margin-top: 1.5rem;
	margin-left: 0.36rem;
	border-radius: 0.3rem;
}
.bank img{
	width: 5.88rem;
	height: 2.58rem;
	border-radius: 0.3rem;
}
/*银行卡结束*/
/*字开始*/
.word{
	width: 3.8rem;
	height: 0.5rem;
	margin: 1rem auto;
	font-size: 0.4rem;
	color: #f31a68;
	text-align: center;
	line-height: 0.5rem;
}
/*字结束*/
/*圆开始*/
.circular{
	width: 4.56rem;
	height: 0.4rem;
	margin: -0.5rem auto;
	display: flex;
	justify-content: space-between;
}
.circular>div{
	width: 0.3rem;
	height: 0.3rem;
	border-radius: 50%;
	border: 0.2rem solid #e4e5f6;
	background: #000;   
}
/*圆结束*/
/*键盘开始*/
.number{
	width: 100%;
	height: 4.22rem;
	background: #f26b9c;
	display: flex;
	align-content: space-around;
	flex-wrap: wrap;
	margin-top: 1rem;
	justify-content: space-around;
	
}
.number>div{
	width: 2.4rem;
	height: 1rem;
	background: #fff;
	border-radius: 0.3rem;
	font-size: 0.3rem;
	color: #f31a68;
	text-align: center;
	line-height: 1rem;
}
.number div:nth-child(10){
	background: #f2b7cc;
}
.number div:nth-child(12){
	background: #f2b7cc;
}
/*键盘结束*/